In [1]:
library(dplyr)

Warning message:
"package 'dplyr' was built under R version 3.6.3"
Attaching package: 'dplyr'

The following objects are masked from 'package:stats':

    filter, lag

The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

In [2]:
meta <- data.frame(sex = c('M', 'F', 'M', 'F', 'M', 'F', 'M', 'F', 'M', 'F', 'M', 'F'),
                   stage = c('I', "II", "II", "I", "II", "II", "I", "II", "II", "I", "II", "II"),
                   treatment = c("A", "A", "A", "A", "B", "B", "B", "B", "P", "P", "P", "P"),
                   myc = c(2343, 457, 4593, 9035, 3450, 3524, 958, 1054, 8674, 3424, 463, 5105))

meta

   sex stage treatment myc
1  M   I     A         2343
2  F   II    A          457
3  M   II    A         4593
4  F   I     A         9035
5  M   II    B         3450
6  F   II    B         3524
7  M   I     B          958
8  F   II    B         1054
9  M   II    P         8674
10 F   I     P         3424
11 M   II    P          463
12 F   II    P         5105

In [3]:
meta[,c(1, 3)]

   sex treatment
1  M   A
2  F   A
3  M   A
4  F   A
5  M   B
6  F   B
7  M   B
8  F   B
9  M   P
10 F   P
11 M   P
12 F   P

In [4]:
meta[c(5, 7, 9, 10), 3]

[1] B B P P
Levels: A B P

In [5]:
subset(meta, treatment=='P')

   sex stage treatment myc
9  M   II    P         8674
10 F   I     P         3424
11 M   II    P          463
12 F   II    P         5105

In [6]:
select(filter(meta, myc>5000), stage, treatment)

  stage treatment
1 I     A
2 II    P
3 II    P

In [7]:
meta[, -3]

   sex stage myc
1  M   I     2343
2  F   II     457
3  M   II    4593
4  F   I     9035
5  M   II    3450
6  F   II    3524
7  M   I      958
8  F   II    1054
9  M   II    8674
10 F   I     3424
11 M   II     463
12 F   II    5105

In [8]:
meta[c(-7,-8,-9),]

   sex stage treatment myc
1  M   I     A         2343
2  F   II    A          457
3  M   II    A         4593
4  F   I     A         9035
5  M   II    B         3450
6  F   II    B         3524
10 F   I     P         3424
11 M   II    P          463
12 F   II    P         5105

In [9]:
meta[1:6,]

  sex stage treatment myc
1 M   I     A         2343
2 F   II    A          457
3 M   II    A         4593
4 F   I     A         9035
5 M   II    B         3450
6 F   II    B         3524

In [10]:
pretreatment <- c('T', 'F', 'F', 'F', 'T', 'T', 'F', 'T', 'F', 'F', 'T', 'T')

In [11]:
cbind(meta, pretreatment)

   sex stage treatment myc  pretreatment
1  M   I     A         2343 T
2  F   II    A          457 F
3  M   II    A         4593 F
4  F   I     A         9035 F
5  M   II    B         3450 T
6  F   II    B         3524 T
7  M   I     B          958 F
8  F   II    B         1054 T
9  M   II    P         8674 F
10 F   I     P         3424 F
11 M   II    P          463 T
12 F   II    P         5105 T

In [12]:
new_meta <- meta
names(new_meta) <- c("a", "b", "c", "d")
new_meta

   a b  c d
1  M I  A 2343
2  F II A  457
3  M II A 4593
4  F I  A 9035
5  M II B 3450
6  F II B 3524
7  M I  B  958
8  F II B 1054
9  M II P 8674
10 F I  P 3424
11 M II P  463
12 F II P 5105