# Pokemon

### Introduction:

This time you will create the data.



### Step 1. Import the necessary libraries

In [101]:
import pandas as pd

### Step 2. Create a data dictionary that looks like the DataFrame below

In [102]:
data = {
    'evolution': ['Ivysaur', 'Charmeleon', 'Wartortle', 'Metapod'],
    'hp': [45, 39, 44, 45],
    'name': ['Bulbasaur', 'Charmander', 'Squirtle', 'Caterpie'],
    'pokedex': ['yes', 'no', 'yes', 'no'],
    'type': ['grass', 'fire', 'water', 'bug']
}

### Step 3. Assign it to a variable called pokemon

In [103]:
pokemon = pd.DataFrame(data)
pokemon

    evolution  hp        name pokedex   type
0     Ivysaur  45   Bulbasaur     yes  grass
1  Charmeleon  39  Charmander      no   fire
2   Wartortle  44    Squirtle     yes  water
3     Metapod  45    Caterpie      no    bug

### Step 4. Ops...it seems the DataFrame columns are in alphabetical order. Place  the order of the columns as name, type, hp, evolution, pokedex

In [104]:
neworder = ['name', 'type', 'hp', 'evolution', 'pokedex']
pokemon = pokemon[neworder]
pokemon

         name   type  hp   evolution pokedex
0   Bulbasaur  grass  45     Ivysaur     yes
1  Charmander   fire  39  Charmeleon      no
2    Squirtle  water  44   Wartortle     yes
3    Caterpie    bug  45     Metapod      no

### Step 5. Add another column called place, and insert what you have in mind.

In [105]:
pokemon.insert(len(pokemon.columns), 'place', ['forest', 'volcano', 'lake', 'some grass'])
pokemon

         name   type  hp   evolution pokedex       place
0   Bulbasaur  grass  45     Ivysaur     yes      forest
1  Charmander   fire  39  Charmeleon      no     volcano
2    Squirtle  water  44   Wartortle     yes        lake
3    Caterpie    bug  45     Metapod      no  some grass

### Step 6. Present the type of each column

In [106]:
for col in pokemon.columns:
    print(pokemon[col].dtype)

object
object
int64
object
object
object

### BONUS: Create your own question and answer it.

In [107]:
#Add a new row containing your favorite pokemon, or any pokemon for that matter
onix = pd.DataFrame([['Onix', 'rock, ground', 35, 'Steelix', 'yes', 'boulder place']], columns = pokemon.columns)
pokemon = pd.concat([pokemon, onix]).reset_index().drop(['index'], axis=1)
pokemon

         name          type  hp   evolution pokedex          place
0   Bulbasaur         grass  45     Ivysaur     yes         forest
1  Charmander          fire  39  Charmeleon      no        volcano
2    Squirtle         water  44   Wartortle     yes           lake
3    Caterpie           bug  45     Metapod      no     some grass
4        Onix  rock, ground  35     Steelix     yes  boulder place